<a href="https://colab.research.google.com/github/Chinmay9544/Alter_command_-_.Numeric_temporal_funnection.sql/blob/main/python_mandetory_project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: You are working in a bank, and you have been given two lists of the employees who worked in 2021. Employees’ names in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob, and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, and Sarita. Please write a program that helps to identify people who are common in both lists. Please do not use any in-built function.

In [ ]:
list1 = {'Ramesh', 'Suresh', 'Mahesh', 'Ali', 'Jacob', 'Saritha'} ## SET is used
list2 = {'Ali', 'Mukesh', 'Mahesh', 'Jacob', 'Sai', 'Sarita'}
list1.intersection(list2)

{'Ali', 'Jacob', 'Mahesh'}

In [ ]:
def find_common_elements(list1, list2):
    common_elements = []
    for item in list1:
        if item in list2:
            common_elements.append(item)
    return common_elements

# Test the function
list1 = ["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob", "Saritha"]
list2 = ["Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Sarita"]

common_list = find_common_elements(list1, list2)
print("Common elements:", common_list)

Common elements: ['Mahesh', 'Ali', 'Jacob']

Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and converts them into a list. Once converted into a list, please write a program that adds their age.


Ramesh:  25

Suresh: 22

Mohit: 26

In [ ]:
names_string = "Ramesh Suresh Mohit"
names_list = names_string.split()
age_dict=[25,22,26]
salary=[1500,1800,2200]
list(zip(names_list,age_dict,salary))

[('Ramesh', 25, 1500), ('Suresh', 22, 1800), ('Mohit', 26, 2200)]

In [ ]:
names_list = ('Ramesh','Suresh','Mohit')
age_dict=[25,22,26]
salary=[1500,1800,2200]
list(zip(names_list,age_dict,salary))

[('Ramesh', 25, 1500), ('Suresh', 22, 1800), ('Mohit', 26, 2200)]

Q3: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin, and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49, and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, the total cost of all medicine, and how much money you refunded to the patient.

In [ ]:
paracetamol_price = 35
azithromycin_price = 49
vitamin_c_price = 33

paracetamol_strips = int(input("enter ther paracetamol strip:"))
azithromycin_strips = int(input("enter ther azithromycin_strips:"))
vitamin_c_strips = int(input("enter ther vitamin_c_strips:"))

total_cost_paracetamol = paracetamol_strips * paracetamol_price
total_cost_azithromycin = azithromycin_strips * azithromycin_price
total_cost_vitamin_c = vitamin_c_strips * vitamin_c_price

total_cost = total_cost_paracetamol + total_cost_azithromycin + total_cost_vitamin_c
refund_amount = 2000 - total_cost

print("Total cost of Paracetamol: Rs", total_cost_paracetamol)
print("Total cost of Azithromycin: Rs", total_cost_azithromycin)
print("Total cost of Vitamin C: Rs", total_cost_vitamin_c)
print("Total cost of all medicines: Rs", total_cost)
print("Refund amount: Rs", refund_amount)

enter ther paracetamol strip:15
enter ther azithromycin_strips:5
enter ther vitamin_c_strips:1518
Total cost of Paracetamol: Rs 525
Total cost of Azithromycin: Rs 245
Total cost of Vitamin C: Rs 594
Total cost of all medicines: Rs 1364
Refund amount: Rs 636

Q4: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example, I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [ ]:
def count_vowels(sentence):
    vowels = ['a', 'e', 'i', 'o', 'u']
    count = 0

    for char in sentence:
        if char in vowels:
            count += 1

    return count

sentence = input("Enter a sentence: ")
vowel_count = count_vowels(sentence)
print("Number of vowels:", vowel_count)

Enter a sentence: i am a good student in my college
Number of vowels: 11

Q5: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible, your output should be ‘Congrats! You are eligible’; otherwise, it should tell that you have to return after X number of years. The eligibility criteria for voting is 18 years.

For example, If someone is 18 or above, your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years, it should print output as ‘return after 3 years’.

In [ ]:
def check_voting_eligibility(age):
    if age >= 18:
        return "Congrats! You are eligible"
    else:
        years_remaining = 18 - age
        return "Sorry, you are not eligible. Please return after {} years.".format(years_remaining)

age = int(input("Enter your age: "))
eligibility_result = check_voting_eligibility(age)
print(eligibility_result)

Enter your age: 12
Sorry, you are not eligible. Please return after 6 years.

Q6: Given a list of integers, find the cumulative sum of the elements of the list and store them in another list.

A = [1, 2, 3, 4, 5]

Output:

[1, 3, 6, 10, 15]

In [ ]:
def calculate_cumulative_sum(numbers):
    cumulative_sum = []
    current_sum = 0

    for num in numbers:
        current_sum += num ## current_sum = current_sum + num
        cumulative_sum.append(current_sum) ## all sum of current_sum get append in CUMULATIVE_SUM

    return cumulative_sum

num = [1, 2, 3, 4, 5]
cumulative_sum_list = calculate_cumulative_sum(num)
print(cumulative_sum_list)

[1, 3, 6, 10, 15]

Q7:

WAP to encode a message entered by user as per below conditions:

for every word in the sentence,

1. If the word starts with a vowel, encode it as first and last letter of the word.

2. If the word starts with a consonant, remove all vowels from it.

Ensure the case insensitive comparisions/checks are performed.

Please enter your text:The quick brown fox used to sleep inside this box

Encoded Msg: Th qck brwn fx ud t slp ie ths bx

In [ ]:
def encode_message(message):
    vowels = ['a', 'e', 'i', 'o', 'u']
    encoded_words = []

    words = message.split()

    for word in words:
        if word[0].lower() in vowels:
            encoded_word = word[0] + word[-1]
        else:
            encoded_word = ''.join([char for char in word if char.lower() not in vowels])

        encoded_words.append(encoded_word)

    encoded_message = ' '.join(encoded_words)
    return encoded_message

message = input("Please enter your text: ")
encoded_msg = encode_message(message)
print("Encoded Msg:", encoded_msg)

Q8:

Write a program to implement run length encoding of a string

RLE:Consecutive repetition of a character has to be replaced with the count of occurances and the character.

Enter your string :aabbbccdddae

Encoded: 2a3b2c3d1a1e

In [ ]:
def run_length_encode(string):
    encoded_string = ""
    count = 1

    for i in range(1, len(string)):
        if string[i] == string[i - 1]:
            count += 1
        else:
            encoded_string += str(count) + string[i - 1]
            count = 1

    encoded_string += str(count) + string[-1]

    return encoded_string

string = input("Enter your string: ")
encoded_string = run_length_encode(string)
print("Encoded:", encoded_string)